<div class="row map-wrapper">
  <div class="col-sm-4" id="legend">
    <h1>Best Cities</h1>
    <ul>
      <% cities.each do |city| %>
        <li><%= link_to(city[:city].title, city[:city]) %></li>
      <% end%>
    </ul>
  </div>
  <div class="col-sm-8" id="map">
    <script>
      genMap(<%= cities.to_json.html_safe %>);
    </script>
  </div>
</div>
