<div class="row map-wrapper">
  <div class="col-sm-4" id="legend">
    <h1><%= city.title %></h1>
  </div>
  <div class="col-sm-8" id="map">
    <script>
      genMap(<%= [{ city: city }].to_json.html_safe %>);
    </script>
  </div>
</div>
