<h1>Welcome</h1>
<p>You can search a city by its name, or use our algorithm to find the best cities in the world.</p>

<hr>

<h2>City</h2>

<%= render 'form_city' %>

<hr>

<h2>Best Cities</h2>

<%= render 'form_best_cities' %>

<hr>
