<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>

<h1>Welcome</h1>
<p>You can search a <%= link_to 'city', cities_path %> by its name, or use our algorithm to find the <%= link_to 'best cities', search_cities_path %> in the world.</p>

<hr>

<h2>City</h2>

<%= render 'form_city' %>

<hr>

<h2>Search</h2>

<%= render 'form_search' %>

<hr>
